<style></style>


<div class="b-data__bg" style="background-image: url('https://www.irozhlas.cz/sites/default/files/uploader/zizkov_vysilac_170420-024449_cib.jpg');"><span style="position: absolute; right: 10px; bottom: 10px; font-size: 12px; color:white;"><i>Foto <a href='https://www.flickr.com/photos/pauljill/28047083464/in/photolist-HPBQzm-S53u55-fszBmq-qSzQt7-dZqioS-hAja4C-iZybd-qqC4Vp-4P9NrF-qbvBoU-8mbPuZ-5ih7kW-8AHTME-iZybU-8AERnt-8AHQ51-8AJ2aq-8AEPLe-2hUpfu-hAjeDQ-K4znD4-B2MgnH-JJqCLy-FNUGiV-rvXmeJ-reWLPy'>Paul Asman, Jill Lenoble</a></i></span></div>
<header class="b-data__header">
<div class="row-main">
	<h1 class="b-data__title">
		<strong>Data z mobilů:</strong><br>
		Praha se denně nafoukne o polovinu, v centru jsou návštěvníci v převaze
	</h1>
        <h4>Jan Cibulka</h4><br>
	<p>
	<a href="#content" class="b-data__link js-slide-to">
	Čtěte dále
	<span class="b-data__link-icon">
	<span class="icon-svg icon-svg--arrow-down">
	<svg class="icon-svg__svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<use xlink:href="/sites/all/themes/custom/irozhlas/img/bg/icons-svg.svg#icon-arrow-down" x="0" y="0" width="100%" height="100%"></use>
	</svg>
</span>
</span>
</a>
</p>
</div>
</header>

<div class="b-data__content" id="content">
<div class="row-main row-main--article">

<p>Skoro 140 tisíc lidí přijede do Prahy každý den za prací. Míří hlavně do kancelářských budov a do centra města. S nimi pak dorazí i přes půl milionu návštěvníků. Ukázala to analýza dat o pohybu mobilních telefonů, kterou si nyní město nechává zpracovat.</p>
<p>Během dne se lidé v Praze soustřeďují v okolí administrativních center a obchodů, po poledni se tak nejvíc zahustí okolí Andělu, centrum Prahy (Vodičkova ulice a Petrské náměstí) a Brumlovka nedaleko Budějovické. Na poslední jmenované adrese sídlí řada velkých korporací, mezi nimi i Microsoft nebo ČEZ. Pro srovnání, na zmíněných místech je ve „špičce“ okolo šesti stovek osob na jeden hektar, průměr Prahy je 25 obyvatel na <a href="https://cs.wikipedia.org/wiki/Hektar">hektar</a> (Václavské náměstí má rozlohu asi 4 hektary).</p>
<p>Naopak v noci se nejvíc lidí se „namačká“ ve Vršovicích, jde o 430 osob na hektar.</p>
<p>Detaily si můžete prohlédnout v následující mapě, kterou z dat mobilních operátorů zpracoval pražský <a href="http://www.iprpraha.cz/">Institut plánování a rozvoje</a>.</p>
<p><em>Pokud vás zajímá, kolik lidí bývá ve dne a v noci ve vaší čtvrti, najděte si ji na mapě, přepněte se na časové řezy, vyberte přepínač hustota osob a potom pohybujte posuvníkem nahoře.</em></p>
<aside class="big">
  <iframe src="https://app.iprpraha.cz/apl/app/dynamika-obyvatelstva/#" width="100%" height="710" scrolling="no" frameborder="0"></iframe>
</aside>

<p>Kromě zaměstnanců do Prahy směřují také návštěvníci, nejvíc (přes 40 tisíc) do okolí Vodičkovy ulice, dále obecně do centra města a na ruzyňské letiště (necelých 30 tisíc). Uvnitř Prahy lidé cestují zejména z velkých sídlišť na Praze 10 a 11 do Prahy 4 (asi 14 000 osob), z Prahy 6 na Prahu 1 (cca 6000 osob), ale třeba i z Prahy 4 do centra (rovněž přibližně 6000 osob).</p>
<p><em>"Významnou část návštěvníků pak tvoří zahraniční i domácí turisté nebo pracovníci na služebních cestách. Místa s nejvyšším výskytem návštěvníků je celkem nepřekvapivě centrum Prahy, následováno Letištěm Václava Havla a dále nemocnice Motol. Významným magnetem jsou také Smíchovské nádraží, areály vysokých škol, tedy Albertov a Dejvice, a další místa. V centru Prahy tvoří návštěvníci ve špičkových hodinách téměř 60% všech přítomných osob,"</em> říká k tomu šéf sekce protorových informací na IPR Jiří Čtyroký.</p>
<p>Za zmínku stojí i sídliště a obce okolo Prahy. Například ve Kbelích či Letňanech se kvůli dojíždění před den přesune 71 % všech obyvatel, podobné je to i Čakovic a Černého Mostu. Naopak nejmenší pohyby obyvatel ukazují mobilní telefony v Podolí či na Vypichu, tam se denně vymění přibližně třetina všech lidí. </p>
<p>Z mimopražských lokalit nejvíce dojíždějí lidé z Hostivic na Prahu 6 (cca 1300 osob), což je pro srovnání podobné jako dojížďky mezi Královým Dvorem a Berounem.</p>
<h2>Data na prodej</h2>
<p>I pokud netelefonujeme nebo neposíláme SMS, telefon pravidelně komunikuje s vysílači v síti mobilního operátora. Z dat o síle signálu a použité anténě je možné odvodit, kde se přibližně telefon nachází a jak dlouhou dobu na místě strávil.</p>
<p>Mobilní operátor má <a href="https://www.zakonyprolidi.cz/cs/2005-127/zneni-20160919#p97-3">zákonnou povinnost</a> takové informace uchovávat, a to půl roku do minulosti, přistupovat k nim ale mohou jen bezpečnostní složky, typicky policie nebo rozvědka.</p>
<p>Operátoři ale obdobné informace mohou anonymizovat (tedy zbavit identifikace konkrétního uživatele) a agregovat, tedy spojit informace o jednotlivcích do jakýchsi skupin. Výsledná obecná čísla pak přeprodávají dál, například marketingovým firmám či dopravním analytikům. Zpětně z nich nejde dovodit, kde se pohybuje každý jednotlivec, dávají ale určitý přehled o obecném chování obyvatel nějakého místa.</p>

</div>
</div><script></script>
